.content {
  @include media-breakpoint-up(xl) {
    padding: ($header-height + 3rem) 2.5rem 0 ($navigation-width + 2.5rem);
  }

  @include media-breakpoint-between(sm, lg) {
    padding: ($header-height + 3rem) 2.5rem 0;
  }

  @include media-breakpoint-down(xs) {
    padding: ($header-height + 3rem) 1.5rem 0;
  }
}

.content__title {
  position: relative;
  margin-bottom: 2rem;
  padding: 0 2rem;
  padding-left: 0;

  @include media-breakpoint-down(sm) {
    padding: 0 1rem;

    .actions {
      display: none;
    }
  }

  & > h1 {
    line-height: 100%;
    font-weight: normal;
    font-size: 1.15rem;
    margin: 0;
    text-transform: uppercase;
    color: $content-title-heading-color;
  }

  .actions {
    position: absolute;
    top: -0.6rem;
    right: 1.5rem;
  }

  & > small {
    font-size: 1rem;
    display: block;
    margin-top: 0.8rem;
    color: lighten($content-title-heading-color, 18%);
  }
}

.dashboard {
  @include clearfix();
  margin: 0 (-$grid-gutter-width-base/2);
}

.dashboard__column {
  float: left;
  padding: 0 $grid-gutter-width-base/2;

  @media(min-width: 1600px) {
    width: 33.333333%;
  }

  @media(min-width: 800px) and (max-width: 1599px) {
    width: 50%;
  }

  @media(max-width: 799px) {
    width: 100%;
  }
}