// Following styles are only for demo purposes. You can remove these anytime and DO NOT use these styles in your project

.modal-demo {
  background-color: #eee;

  .modal {
    z-index: 0;
    position: relative;
    display: block;
  }
}