<section class="content">
  <header class="content__title">
    <h1>Accordion</h1>
    <small>Displays collapsible content panels for presenting information in a limited amount of space.</small>

    <div class="actions">
      <a class="actions__item zmdi zmdi-trending-up" [routerLink]="['/components/accordion']"></a>
      <a class="actions__item zmdi zmdi-check-all" [routerLink]="['/components/accordion']"></a>
      <div dropdown>
        <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <a [routerLink]="['/components/accordion']" class="dropdown-item">Refresh</a>
          <a [routerLink]="['/components/accordion']" class="dropdown-item">Manage Widgets</a>
          <a [routerLink]="['/components/accordion']" class="dropdown-item">Settings</a>
        </div>
      </div>
    </div>
  </header>

  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Simple Accordion</h2>
      <small class="card-subtitle">Click headers to expand/collapse content that is broken into logical sections, much like tabs.</small>
    </div>

    <div class="card-block">
      <accordion class="accordion">
        <accordion-group heading="Collapsible Group Item #1">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        </accordion-group>

        <accordion-group heading="Collapsible Group Item #2">
          Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.
        </accordion-group>

        <accordion-group heading="Collapsible Group Item #3">
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.
        </accordion-group>

        <accordion-group heading="Collapsible Group Item #4">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </accordion-group>
      </accordion>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Disabled group</h2>
      <small class="card-subtitle">Use <code>isDisabled</code> option to disable any accordion group.</small>
    </div>

    <div class="card-block">
      <accordion class="accordion">
        <accordion-group heading="Collapsible Group Item #1" [isDisabled]="true">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        </accordion-group>

        <accordion-group heading="Collapsible Group Item #2">
          Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.
        </accordion-group>

        <accordion-group heading="Collapsible Group Item #3">
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.
        </accordion-group>

        <accordion-group heading="Collapsible Group Item #4">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </accordion-group>
      </accordion>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Open only one at a time</h2>
      <small class="card-subtitle">Use <code>closeOthers</code> to open only one group at a time.</small>
    </div>

    <div class="card-block">
      <accordion class="accordion" [closeOthers]="true">
        <accordion-group heading="Collapsible Group Item #1">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        </accordion-group>

        <accordion-group heading="Collapsible Group Item #2">
          Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.
        </accordion-group>

        <accordion-group heading="Collapsible Group Item #3">
          Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur.
        </accordion-group>

        <accordion-group heading="Collapsible Group Item #4">
          Nullam id dolor id nibh ultricies vehicula ut id elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </accordion-group>
      </accordion>
    </div>
  </div>
</section>