// Following styles are only for demo purposes. You can remove these anytime and DO NOT use these styles in your project

.icons-demo {
  .card-block {
    .zmdi {
      font-size: 1.7rem;
      vertical-align: bottom;
      margin-right: 1rem;
    }

    .col-sm-4 {
      padding: 0.8rem 1.1rem;

      &:hover {
        background: rgba(0, 0, 0, 0.03);
      }
    }
  }
}
