<section class="content">
  <header class="content__title">
    <h1>Basic example</h1>
    <small>Below is an example of a basic card with mixed content and a fixed width. Cards have no fixed width to start, so they’ll naturally fill the full width of its parent element.</small>
  </header>

  <div class="card-demo">
    <div class="card">

      <div class="card-header">
        <h2 class="card-title">Card title</h2>
        <small class="card-subtitle">Praesent commodo cursus magna scelerisque consectetur.</small>
      </div>

      <div class="card-block">
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui.</p>
      </div>

    </div>
  </div>

  <br>
  <br>

  <header class="content__title">
    <h1>Card with actions</h1>
    <small>Cards can also contains action links in icon format.</small>
  </header>

  <div class="card-demo">
    <div class="card">

      <div class="card-header">
        <h2 class="card-title">Card title</h2>
        <small class="card-subtitle">Praesent commodo cursus magna scelerisque consectetur.</small>

        <div class="actions">
          <div dropdown>
            <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
              <a [routerLink]="['/user-interface/cards']" class="dropdown-item">Refresh</a>
              <a [routerLink]="['/user-interface/cards']" class="dropdown-item">Manage Widgets</a>
              <a [routerLink]="['/user-interface/cards']" class="dropdown-item">Settings</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card-block">
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui.</p>
      </div>

    </div>
  </div>

  <div class="card-demo">
    <div class="card">

      <div class="card-header">
        <h2 class="card-title">Card title</h2>
        <small class="card-subtitle">Praesent commodo cursus magna scelerisque consectetur.</small>

        <div class="actions">
          <a [routerLink]="['/user-interface/cards']" class="actions__item zmdi zmdi-plus"></a>
          <a [routerLink]="['/user-interface/cards']" class="actions__item zmdi zmdi-check"></a>
          <a [routerLink]="['/user-interface/cards']" class="actions__item zmdi zmdi-star-border"></a>
        </div>
      </div>

      <div class="card-block">
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui.</p>
      </div>

    </div>
  </div>

  <div class="card-demo">
    <div class="card card-primary card-inverse">

      <div class="card-header">
        <h2 class="card-title">Card title</h2>
        <small class="card-subtitle">Praesent commodo cursus magna scelerisque consectetur.</small>

        <div class="actions actions--inverse">
          <div dropdown>
            <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
              <a [routerLink]="['/user-interface/cards']" class="dropdown-item">Refresh</a>
              <a [routerLink]="['/user-interface/cards']" class="dropdown-item">Manage Widgets</a>
              <a [routerLink]="['/user-interface/cards']" class="dropdown-item">Settings</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card-block">
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui.</p>
      </div>

    </div>
  </div>

  <br>
  <br>

  <header class="content__title">
    <h1>Blocks</h1>
    <small>The building block of a card is the <code>.card-block</code>. Use it whenever you need a padded section within a card.</small>
  </header>

  <div class="card-demo">
    <div class="card">
      <div class="card-block">
        <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
    </div>
  </div>

  <div class="card-demo">
    <div class="card">
      <div class="card-block">
        <p>Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero</p>
      </div>
    </div>
  </div>

  <br>
  <br>

  <header class="content__title">
    <h1>Card links</h1>
    <small>Links are added and placed next to each other by adding <code>.card-link</code> to a <code>&#x3C;a&#x3E;</code> tag.</small>
  </header>

  <div class="card-demo">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Card title</h2>
        <small class="card-subtitle">Praesent commodo cursus magna scelerisque consectetur</small>
      </div>

      <div class="card-block">
        <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>

      <div class="card-footer">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>

  <div class="card-demo">
    <div class="card">
      <div class="card-block">
        <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>

      <div class="card-footer">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>

  <br>
  <br>

  <header class="content__title">
    <h1>Images</h1>
    <small>Cards can also include images in the top and bottom.</small>
  </header>

  <div class="card-demo">
    <div class="card">
      <img class="card-img-top" src="../../../assets/demo/img/headers/6.png">

      <div class="card-header">
        <h2 class="card-title">Card title</h2>
        <small class="card-subtitle">Praesent commodo cursus magna scelerisque consectetur</small>
      </div>

      <div class="card-block">
        <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
    </div>
  </div>

  <div class="card-demo">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Card title</h2>
        <small class="card-subtitle">Praesent commodo cursus magna scelerisque consectetur</small>
      </div>

      <div class="card-block">
        <p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>

      <img class="card-img-bottom" src="../../../assets/demo/img/headers/4.png">
    </div>
  </div>

  <br>
  <br>

  <header class="content__title">
    <h1>Image overlays</h1>
    <small>Turn an image into a card background and overlay your card’s text. Depending on the image, you may or may not need <code>.card-inverse</code></small>
  </header>

  <div class="card-demo">
    <div class="card card-inverse">
      <img class="card-img" src="../../../assets/demo/img/card-img-overlay.jpg">

      <div class="card-img-overlay">
        <div class="card-header">
          <h2 class="card-title">Card title</h2>
          <small class="card-subtitle">Praesent commodo cursus magna scelerisque consectetur</small>
        </div>

        <div class="card-block">
          <p class="card-text">Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>

    </div>
  </div>

  <br>
  <br>

  <header class="content__title">
    <h1>Inverted text & background variants</h1>
    <small>Cards include their own variant classes for quickly changing the background-color and border-color of a card. Darker colors require the use of <code>.card-inverse</code> invert the text colors.</small>
  </header>

  <div class="card-demo">
    <div class="card card-primary card-inverse">
      <div class="card-block">
        <p class="card-text">Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      </div>
    </div>
  </div>

  <div class="card-demo">
    <div class="card card-success card-inverse">
      <div class="card-block">
        <p class="card-text">Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      </div>
    </div>
  </div>

  <div class="card-demo">
    <div class="card card-info card-inverse">
      <div class="card-block">
        <p class="card-text">Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      </div>
    </div>
  </div>

  <div class="card-demo">
    <div class="card card-warning card-inverse">
      <div class="card-block">
        <p class="card-text">Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      </div>
    </div>
  </div>

  <div class="card-demo">
    <div class="card card-danger card-inverse">
      <div class="card-block">
        <p class="card-text">Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      </div>
    </div>
  </div>

  <br>
  <br>

  <header class="content__title">
    <h1>Outline cards</h1>
    <small>In need of a colored card, but not the hefty background colors they bring? Replace the default modifier classes with the <code>.card-outline-*</code> ones to style just the <code>border-color</code> of a card.</small>
  </header>

  <div class="card-demo">
    <div class="card card-outline-primary">
      <div class="card-block">
        <p class="card-text">Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      </div>
    </div>
  </div>

  <div class="card-demo">
    <div class="card card-outline-success">
      <div class="card-block">
        <p class="card-text">Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      </div>
    </div>
  </div>

  <div class="card-demo">
    <div class="card card-outline-info">
      <div class="card-block">
        <p class="card-text">Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      </div>
    </div>
  </div>

  <div class="card-demo">
    <div class="card card-outline-warning">
      <div class="card-block">
        <p class="card-text">Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      </div>
    </div>
  </div>

  <div class="card-demo">
    <div class="card card-outline-danger">
      <div class="card-block">
        <p class="card-text">Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      </div>
    </div>
  </div>
</section>