<section class="content">
  <header class="content__title">
    <h1>Data Table</h1>

    <div class="actions">
      <a class="actions__item zmdi zmdi-trending-up" [routerLink]="['/table/data-table']"></a>
      <a class="actions__item zmdi zmdi-check-all" [routerLink]="['/table/data-table']"></a>
      <div dropdown>
        <i dropdownToggle class="actions__item zmdi zmdi-more-vert"></i>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <a [routerLink]="['/table/data-table']" class="dropdown-item">Refresh</a>
          <a [routerLink]="['/table/data-table']" class="dropdown-item">Manage Widgets</a>
          <a [routerLink]="['/table/data-table']" class="dropdown-item">Settings</a>
        </div>
      </div>
    </div>
  </header>


  <div class="card">
    <div class="card-header">
      <h2 class="card-title">ng2-Table</h2>
      <small class="card-subtitle">Native Angular2 directives for Tables with sorting, filtering, paging...</small>
    </div>

    <div class="data-table">
      <div class="data-table__header">
        <div class="form-group data-table__filter">
          <input *ngIf="config.filtering"
                 placeholder="Filter all columns"
                 [ngTableFiltering]="config.filtering"
                 class="form-control"
                 (tableChanged)="onChangeTable(config)"/>
          <i class="form-group__bar"></i>
        </div>
      </div>

      <ng-table [config]="config"
                (tableChanged)="onChangeTable(config)"
                [rows]="rows" [columns]="columns">
      </ng-table>

      <div class="data-table__footer">
        <pagination *ngIf="config.paging"
                    [(ngModel)]="page"
                    [totalItems]="length"
                    [itemsPerPage]="itemsPerPage"
                    [maxSize]="maxSize"
                    [boundaryLinks]="true"
                    [rotate]="false"
                    (pageChanged)="onChangeTable(config, $event)"
                    (numPages)="numPages = $event">
        </pagination>
      </div>
    </div>

  </div>
</section>